
{% extends 'accounts/base2.html' %}

{% load staticfiles %}



    {% block  body_block %}

    <main>
        <section class="hero">
            <div class="container">
                <div class="main-message">
                    <h1>Welcome to HappyCab</h1>
                    <p>
                        You never walk alone , We get you where ever you want to go!
                    </p>

                    <div class="cta">
                        <a href="#" class="btn">Book a car</a>
                    </div>
                </div>
            </div>
        </section>
    </main>



    {% endblock %}

